# general  modules
django>3.2,<3.3
djangorestframework
psycopg2-binary

# third party modules
django-filter
drf-yasg[validation]
djangorestframework-simplejwt
django-cors-headers

# deployment module
gunicorn

# refactoring and tests
pytest
pytest-django

# load test
locust